/* LoginRegister.css */
.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .form-container h2 {
    margin-bottom: 1.5rem;
    color: #2c3e50;
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }
  
  .form-container input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #18bc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #128a75;
  }
  
  .form-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .form-container span {
    color: #3498db;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-container span:hover {
    text-decoration: underline;
  }

  .logo {
    padding-bottom: 20px;
  }