
.service-card {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.service-card:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-card img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #34495e;
}

.service-card p {
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 5px;
}