/* Home.css */
.home {
    text-align: center;
    padding: 3rem;
    background-color: #f8f9fa;
    color: #2c3e50;
    height: 100vh;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.home-buttons .btn-primary,
.home-buttons .btn-secondary {
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

.home-buttons .btn-primary {
    background-color: #18bc9c;
}

.home-buttons .btn-primary:hover {
    background-color: #128a75;
}

.home-buttons .btn-secondary {
    background-color: #3498db;
}

.home-buttons .btn-secondary:hover {
    background-color: #217dbb;
}